:root{
    --font-color: #000000;
    --background-color:#F2F2F2;
    --font-family: "Oswald", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body{
    margin: 0;
}

.navbar a.active{
    text-decoration: underline;
}

.container{
    border: 1px solid #e6e6e6;
    padding: 15px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 82px;
    margin-right: 110px;
    background-color: #e6e6e6;
}

.form{
    margin-top: 73px;
    margin-left: 110px;
}
.form-title{
    font-size: 60px;
    font-weight: 400;
    padding: 0 0 56px 0;
}

.form-subtitle{
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 66px 0;
}
.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.fields-group, 
.radio-group {
    flex: 1;
    min-width: 300px;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
}
input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="tel"], textarea {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 20px;
    outline: none;
    margin-bottom: 15px;
}
.section-title {
    display: flex;
    align-items: center;
    color: #68b738;
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 36px;
}

.section-title::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #68b738;
    margin-left: 20px;
}

.radio-group,
.checkbox-group {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 25px 0 25px 28px;
    padding-bottom: 20px;
}

.radio-group label {
    margin-bottom: 15px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    margin-left: 0;
    resize: none;
}

button {
    background-color: #68b738;
    color: white;
    border: none;
    padding: 13px 188px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
 margin-bottom: 82px;
 transition: all 0.2s ease;
}

button:active{
    transform: scale(0.97);
}

.checkbox-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
        .form {
        margin: 20px 0;
        padding: 0 20px; 
    }

    .container {
        margin-right: 0;
        margin-bottom: 40px;
        padding: 20px; 
    }


    .form-title {
        font-size: 36px;
        padding-bottom: 20px;
        text-align: left;
    }

    .form-subtitle {
        font-size: 16px;
        padding-bottom: 30px;
    }

    .section-title {
        font-size: 24px;
        margin: 30px 0;
    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .fields-group, 
    .radio-group {
        min-width: 100%;
    }

    label {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    input[type="text"], 
    input[type="number"], 
    input[type="email"], 
    input[type="tel"] {
        width: 100%;
        margin-left: 0; 
        margin-top: 10px;
        box-sizing: border-box; 
        height: 45px; 
    }

    .radio-group label,
    .checkbox-group label {
        flex-direction: row;
        align-items: center;
    }

    .radio-group input,
    .checkbox-group input {
        margin-right: 15px;
        width: 25px; 
        height: 25px;
    }

    button {
        width: 100%; 
        padding: 15px 0; 
        margin-bottom: 40px;
        font-size: 18px;
    }
}